<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
<h1>Tsuanmiye Hosgeldiniz</h1>
    <h2><a href="/signup">Sign Up</a></h2>
    <h2><a href="/login">Login </a></h2>

    </body>
</html>
