<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAR</title>
</head>
<body>

<h1>Hoşgeldiniz Tsunamiye</h1>
{{range .}}

<h1>
{{.}}

</h1>
{{end}}
<h2><a href="/profilePage">Profile Page</a></h2>

<h2><a href="/logout">log out</a></h2>


</body>
</html>
