<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/login.sass">
    </head>
    <body>
        <div class="form-container">
          <div class="company-logo"></div>
          <div class="logo"></div>
          <h1>Giriş Yap</h1>
        <form method="post">
            <input type="text" name="ProductName" placeholder="Product Name">
            <input type="text" name="Condition"  placeholder="Condition">
            <input type="text" name="Rentable" placeholder="">
            <input type="text" name="Price" placeholder="">
            <input type="text" name="Description" value="">
            <input type="submit">


            </select>
        </form>
    </body>
</html>
