<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAR</title>
</head>
<body>

<h1>Hoşgeldiniz Tsunamiye</h1>

<h1> {{.UserName}} </h1>
<h1>{{.Password}}</h1>
<h1>{{.FirstName}}</h1>
<h1>{{.Last}}</h1>
<h2><a href="/logout">log out</a></h2>

<h2><a href="/productAdd">Add Product</a></h2>

<h2><a href="/productDisplay">See Product List</a></h2>

</body>
</html>
